
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+AU+SA:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'inter',sans-serif;
    text-decoration: none;
}
body{
    height: auto;
    width: 100vw;
    margin-top: 10px;
    /* background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat; */
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.headercontent{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
    /* position: fixed; */
   background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
.portfolio{
    color: rgb(241, 80, 121);
    display: flex;
    gap: 10px;
}
.pfheading{
    top: 45px;
    align-items: center;
    cursor: pointer;

align-self: center;}
.pflogo{
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.navcontents{
    display: flex;
    /* gap: 2.5rem; */
    justify-content: space-between;
}
.talkbutton{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(241, 80, 121);
    color: white;
    cursor: pointer;

}
.talkbutton:hover{
    background-color: rgb(207, 55, 93);
}
.navlinks{
    color: #ffffff;
    padding: 1rem;
    font-size: 1.09rem;
}
.navlinks:hover{
color: #3f83f8;
}


/* main container */
.maincontainer{
    /* border: 1px solid black; */
    height: 80vh;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;

}

.leftbox{
    /* border: 1px solid black; */
    max-width: 50%;
    height: 200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    animation: slideFromleft 1.5s ease forwards;
    opacity: 0;
}
.name{
    transition: transform 0.3s ease;
}
.name:hover{
    transform: scale(1.10);
    /* letter-spacing: 10px; */
}

.namedescription{
    font-size: small;
    max-width: 75%;
    margin-bottom: 9px;
}
@keyframes slideFromleft {
    0%{
        opacity: 0;
        transform: translatex(-100%);
    }
    100%{
        opacity: 1;
        transform: translatez(0);

    }
}
.name{
    color: rgb(189, 25, 189);
    font-weight: bold;
}
.connections{
    display: flex;
    gap: 1.5rem;
}
.socialimage{
    height: 25px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;}
.socialimage:hover{
    /* background-color: rgb(180, 144, 228); */
    /* border: 1px solid blue; */
    box-shadow: 2px 3px 20px;
    transform: scale(1.50);
    border-radius: 5px;
}
.rightbox{
    /* border: 1px solid black; */
    max-width: 50%;
    height: 200px;
    /* justify-self: end; */
    align-items: center;
    justify-content: center;
}
.image{
    height: 490px;
    width: auto;
    padding: 5px;
    border-radius: 20px;
    animation: slideFrombottom 1.5s ease forwards;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image:hover{
    transform: scale(1.20);
}
@keyframes slideFrombottom {
    0%{
        opacity: 0;
        transform: translatex(100%);
    }
    100%{
        opacity: 1;
        transform: translatez(0);

    }
}
/* About Container */
.aboutcontainer{
    max-width: 1380px;
    width: 98vw;
    /* border:2px solid black; */
    margin: 0.5rem;
    margin-right: 10px;
    margin-left: 15px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    /* margin-left: 4rem; */
    /* padding-right: 3rem; */
}
.aboutcontainer:hover{
    transform: scale(1.05);
}
.headingofabout{
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    font-size: 1.875rem;
    transition: transform 0.5s  linear ease;
}
.headingofabout:hover{
    transform: scale(1.05);
    color: crimson;
}

.aboutcontentbg{
    background-color: #ffffff;
    margin: 3rem;
    padding-right: -10px;
    border-radius: 20px;
    padding: 1rem;
}
.aboutcontentdecription{
    line-height: 35px;
    padding: 1rem;
    font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
}
.aboutcontentdecription::first-letter{
    font-size: 2.5rem;
    font-style: italic;
    color: crimson;
}
.main{
    max-width: 1080px;
    width: 93vw;
    background-color: rgb(255, 255, 255);
    margin: 2.5rem;

}
.skillmain{
    margin: 2rem;
}
.skillheading{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.875rem;
    transition: transform 0.5s  linear ease;
    color: black;
}
.skillheading:hover{
    transform: scale(1.05);
    color: crimson;
}
/* skills grid */
.skillsgrid{
    max-width: 1180px;
    width: 93vw;
    /* border:2px solid black; */
    margin: 0.5rem;
    margin-right: 10px;
    /* border: 1px solid black; */
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-left: 2.5rem;
}
.skillcard{
    /* border: 1px solid black; */
    max-width: fit-content;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
   border: 1px solid black;

}.skillcard:hover{
    transform: scale(1.05);
}
.skillbrief{
    max-width: 500px;
    line-height: 25px;
    padding: 1rem;
}
.skilltext{
    text-align: center;
    color: black;
}
.skillimage{
    position: relative;
    overflow: hidden;
    height: 14rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.skillimg{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}
.skillheading{
    text-align: center;
}
.skillmain{
    background-color: #ffffff;
    border-radius: 20px;
}
.certscontainer{
    max-width: 100vw;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 15px;
    margin: 2.5rem;
}
.certsheading{
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
.certsheading:hover{
    transform: scale(1.03);
    color: crimson;
}
.certificates{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1.3rem;
}
.certificateimage{
    height: 170px;
    transition: transform 0.5s ease;
    border: 1px solid black;
}
.certificateimage:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* <!-- Education details --> */

.educationcontainer{
    height: 1850px;
    max-width: 93vw;
    /* border: 1px solid black; */
    margin: 1rem;
    margin-top: 40px;
    background-color:  #ffffff;
    border-radius: 10px;
    justify-content: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-left: 2.5rem;
}
.educationheading{
    transition: transform 0.5s  linear ease;
}
.educationheading:hover{
    transform: scale(1.05);
    color: crimson;
}
.riviercontainer{
    height: 300px;
    max-width: 93vw;
    /* border: 1px solid black; */
    margin: 1rem;
}
.chebrolucontainer{
    height: 1050px;
    max-width: 93vw;
    /* border: 1px solid black; */
    margin: 1rem;

}
.srinivasacontainer{
    height: 130px;
    max-width: 93vw;
    /* border: 1px solid black; */
    margin: 1rem;
}
.schoolcontainer{
    height: 300px;
    max-width: 93vw;
    /* border: 1px solid black; */
    margin: 1rem;

}
.educationheading{
    text-align: center;
    padding: 1rem;
}
.rivierheading{
    text-decoration: none;
    color: black;
}
.rivierheading:hover{
    text-decoration: none;
    color:#2563eb;
}
.rivierlogo{
    height: 55px;
    width: 55px;
}
.riviercontents{
    height: 100px;
    padding: 10px;
    display: flex;
    gap: 1rem;
}
.rivierpara1{
    font-size: 15px;

}
.rivierpara2{
    font-size: 14px;
    color: #777;
}
.rivierrightbox{
    line-height: 25px;
}
.toppercertchebrolu{
    height: 200px;
    width: 230px;
    border-radius: 10px;
}
.toppercertimg{
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.toppertext{
 display: flex;
 align-items: center;
 justify-content: center;
}
.topper{
    font-weight: bold;
}
.toppertext1{
    display: flex;
 /* align-items: center; */
 justify-content: center;
 flex-direction: column;
}
.rivierlogo1{
    height: 55px;
    width: 55px;
    margin-left: -15px;

    }

    .newslettercontainer{
        background-color: rgb(238, 237, 237);
        max-width: 1240px;
        height: 45vh;
        margin:  2rem 2.5rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        padding-bottom: 1rem;
        /* padding-top: 2rem; */
        padding: 0 --1rem;
    }
    .newslettercontent{
        display: flex;
        height: 100%;
        flex-direction: row;
        background-color: var(--light-gray);
        border-radius: 8px;
        overflow: hidden;
    }
    .newsimg{
        height: 100%;
        width: 100%;
        object-fit:cover;
        object-position: center;
        position: absolute;
        inset: 0;
    }
    .newsleft{
        height: 100%;
    width: 50%;
    position: relative;
    /* display: none; */
    }
    .newsright{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        padding: 3rem;
        width: 50%;
    }
    .newsinfo{
        padding: 0 3rem;
    }
    .newstitle{
        color: rgb(241, 80, 121);
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .newsdescription{
        text-align: left;
        color: #777;
    }
    .newsform{
        padding: 0 3rem;
        display: flex;
        gap: 1rem;
    }
    .newsemail{
        background-color: rgb(231, 227, 227);
        width: 100%;
        color: #333;
        outline: none;
        border:1px solid #ccc;
        border-radius: 4px;
        padding: 0.5rem 0.75rem;
        transition: transform 0.5s all;
    }
    .newssendbutton{
        border:none;
        padding: 0.35rem 1.1rem;
        border-radius: 0.375rem;
        color: white;
        background-color: maroon;
        transform: all 0.1s;
        font-size: 1rem;
        font-weight: 600;
        display: flex;
    }
    .newssendbutton:hover{
        background-color:rgb(231, 64, 64);
    }
    .newsemail:focus{
        border-color: #2563eb;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    }
    .privacypolicy{
        padding: 0 3rem;
        font-size: 0.695rem;
        color: #777;
    }
    .newslink{
        text-decoration: underline;
        color: #3f83f8;
    }
    .footercontainer{
        background-color: var(--background-color);
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        max-width: 1180px;
    }
    .footer{
        max-width: 1280px;
        padding: 2rem;
        text-align: left;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }
    .sociallink{
        height: 1.5rem;
        width: 1.5rem;
    }
    .fillertext{
        font-size: 1rem;
        color: #ffffff;
    }
    .socialicon{
        padding: 0.3rem;
    }
    .footergrid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 7rem;
        padding: 2rem 0.6rem;
        width: 65%;
        justify-content: center;
        margin-left: 15rem;
    }
    ul{
        list-style-type: none;
    }
    .footerlink{
        color:#e2dfdf ;
        font-size: 1rem;
    }
    .footerlinkslist{
        display: flex;
        gap: 1.6rem;
        flex-direction: column;
        margin-top: 1rem;
    }
    .footercopyright{
        color: var(--gray);
        font-size:0.75rem;
        padding-bottom: 2rem;
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid #e5e7eb;
        border-bottom: 1px solid #e5e7eb;
        margin-left: 30rem;
    }
    @media screen and (max-width:768px)
    {
        .footer{
            flex-direction: column;
            align-items: center;
        }
    }
    @media screen and (max-width:400px){
        .footergrid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 3rem;
            padding: 2rem 0.3rem;
            width: 35%;
            margin-left: -2rem;
        }
    }